.head{
    cursor:pointer;
}

.head .logo img {
    width: 500px;
}

header {
    background-color: black;
    color: white;
}

header li {
    margin-right: 30px;
    transition: 0.5s;
}

header li a{
    color: white;
    transition: 0.5s;
}
header li a:hover {
    color: crimson;
    cursor: pointer;
}
.barIco {
    font-size: 25px;
    background: none;
    color: white;
    display: none;
    border: none;
}

@media screen and (max-width:768px) {
.head .ad {
    display: none;
}
.header .icon {
    display: none;
}
header .flex{
    display: none;
}
.barIco {
    display: block;
}
 header .navbar {
    position: absolute;
    display: block;
    background-color: #fb4c35; 
    left: 0;  
    top: 210px !important;
    width:100%;
    height: 50vh;
    z-index: 5;
    padding: 50px;
    margin-bottom: 30px;
 }
 header ul li {
    margin-bottom: 30px;
 }
}